<html>
<head>
	<style>
	<% if compared == 0 %>
		body {background: #90EE90;}
	<% elsif compared.nil? %>
		
	<% elsif compared.abs == 1 %>
		body {background: #FFB6C1;}
	<% elsif compared.abs >= 2 %>
		body {background: #F08080;}
	<% end %>
	</style>
</head>
<body>
	<% if guesses > 0 %>
	<form>
		<input type='test' name='guess' />
		<input type='submit' value='Guess!' />
	</form>
	<% else %>
		<p>YOU'RE OUT OF GUESSES MISTER!</p>
		<p>Click <a href="guesser?reset=1">here</a> to try again!</p>
	<% end %>
	<p>You have <%= guesses %> guesses left.</p>
	<% if compared == -2 %>
		<p>Your guess was WAY too low!</p>
	<% elsif compared == -1 %>
		<p>Your guess was a little low.</p>
	<% elsif compared == 1 %>
		<p>Your guess was a little high.</p>
	<% elsif compared == 2 %>
		<p>Your guess was WAY too high!</p>
	<% elsif compared == 0 %>
		<p>YOU GOT IT RIGHT! WOOHOO!</p>
		<p>The secret number is: <%= number %>!</p>
		<p>Click <a href="guesser?reset=1">here</a> to restart the game!</p>
	<% elsif compared.nil? %>
		<p>Type a number, dummy!</p>
	<% end %>
	<% if cheat %>
		<p>Pssst....the number is <%= number %>.</p>
	<% end %>
</body>
</html>
